
<form [formGroup]="form" (ngSubmit)="book()">
    <!--
 <div class="form-group">
 <label for="enterEmail"></label>
 <input type="text" class="form-control"
formControlName="enterEmail" >
 </div>
-->
 <div class="form-group">

 <input type="email" class="form-control" [(ngModel)]="defaultEmail"
 formControlName="email" >
 <div style="font-size: 12px; color:red"  *ngIf="form.controls.email.touched &&
!form.controls.email.valid" >
email is required
 </div>
 </div>


 <div class="form-group">

 <input type="password" class="form-control" [(ngModel)]="defaultPassword"  *ngIf="!form.controls.email.pristine &&
 form.controls.email.status=='VALID' "
formControlName="password">
 <div style="font-size: 12px"  *ngIf="form.controls.password.touched &&
!form.controls.password.valid" class="alert alert-danger">
 password is required
 </div>
 </div>

 <button class="btn btn-primary" type="submit" *ngIf="!form.controls.email.pristine &&
 form.controls.email.status=='VALID' ">Book</button>
</form>
